.footer {
    background-color: #191A19;
    color: #fff;
    padding: 3em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: #D8E9A8;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
    color: #4E9F3D;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer
}

.copy_right {
    margin-top: 2em;
}

.copy_right span { 
    font-weight: bold;
    color: #ffbb33;
}